<div class="row">
    <div class="column login-headline">
        <h1>Log in</h1>
    </div>
</div>

<form class="login-form"
      ng-submit="$ctrl.verifyLogin()">

    <fieldset>
        <input type="text"
               ng-model="$ctrl.email"
               placeholder="Email">

        <input type="text"
               ng-model="$ctrl.name"
               placeholder="Full name">

        <input type="text"
               ng-model="$ctrl.password"
               placeholder="Password">

        <button class="button success column right"
                type="submit">
            Log in
        </button>
    </fieldset>
</form>