<form class="login-form"
      ng-submit="$ctrl.verifyLogin()">

    <fieldset>
        <input type="text"
               ng-model="$ctrl.email"
               placeholder="Email">

        <input type="text"
               ng-model="$ctrl.name"
               placeholder="Full name">

        <input type="text"
               ng-model="$ctrl.password"
               placeholder="Password">
    </fieldset>

    <button class="button"
            type="submit">
        Log in
    </button>
</form>