<h1 ng-bind-html="$ctrl.mockChallenge.title"></h1>

<div ng-bind="$ctrl.mockChallenge.description"></div>

<div ng-bind="$ctrl.mockChallenge.example"></div>

<div class="button"
     ng-click="$ctrl.setLanguage();">Clear input</div>

<select class="select select--filter"
        ng-model="$ctrl.language"
        ng-change="$ctrl.setLanguage();"
        ng-options="language as language for language in $ctrl.mockChallenge.languages">
    <option value="$ctrl.language"></option>
</select>


<div id="editor"></div>