<div class="row">
    <div class="column">
        <h1 class="challenge-headline"
            ng-bind="::$ctrl.challenge.title"></h1>
    </div>
</div>

<div class="row">
    <div class="column">
        <div ng-bind="::$ctrl.challenge.description"></div>
    </div>
</div>

<div class="row">
    <div class="column __margin-top __bold">
        <p>Example:</p>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="content-box"
             ng-bind="::$ctrl.challenge.sample"></div>
    </div>
</div>

<div class="row __margin-top">
    <div class="column shrink">
        <select class="select select--filter"
                ng-model="$ctrl.language"
                ng-change="$ctrl.setLanguage();"
                ng-options="language as language for language in $ctrl.languages">
            <option value="$ctrl.language"></option>
        </select>
    </div>
    <div class="column __float-left">
        <div class="button"
             ng-click="$ctrl.setLanguage();">Start over</div>
    </div>
</div>

<div id="editor"></div>

<div class="row">
    <div class="column shrink right">
        <div class="button"
             ng-click="$ctrl.runCode();">Run code</div>
    </div>
    <div class="column right">
        <div class="button success"
             ng-click="$ctrl.submitCode();">Submit code</div>
    </div>
</div>

<h2 ng-if="$ctrl.loading">Loading</h2>

<div class="row" ng-if="$ctrl.displayResults">
    <div class="column no-float">
        <div class="row">
            <div class="column">
                <div>Run code result:</div>
            </div>
        </div>
        <div class="row">
            <div class="column no-float">
                Your input:
                <div class="content-box" ng-bind="$ctrl.userInput"></div>
            </div>
        </div>
        <div class="row">
            <div class="column no-float">
                Your answer:
                <div class="content-box" ng-bind="$ctrl.userAnswer"></div>
            </div>
            <div class="column no-float">
                Expected answer:
                <div class="content-box" ng-bind="$ctrl.expectedAnswer"></div>
            </div>
        </div>
    </div>
</div>