<div class="row">
    <div class="column text-center">
        <h1 class="welcome-message">Scoreboard</h1>
    </div>
</div>

<div class="challenge-list text-center">
    <h3>List of challenges:</h3>
    <table>
        <tr>
            <th>Person</th>
            <th>Two Sum</th>
            <th>Add Two Numbers</th>
        </tr>
        <tr>
            <td ng-bind="::$ctrl.name"></td>
            <th class="green-stuff">4 / 4</th>
            <th>0 / 7</th>
        </tr>
        <tr>
            <td>Per</td>
            <th>0 / 4</th>
            <th>0 / 7</th>
        </tr>
        <tr>
            <td>Nemo</td>
            <th>0 / 4</th>
            <th>0 / 7</th>
        </tr>
        <tr>
            <td>Ruben</td>
            <th>0 / 4</th>
            <th>0 / 7</th>
        </tr>
    </table>
</div>